# Ignore node_modules (do not push to GitHub)
node_modules/

# Optional: ignore Sass cache or build folders
.sass-cache/
dist/
build/
assets/css/style.css
assets/css/style.css.map

# Ignore VS Code config
.vscode/

# Ignore macOS and Windows system files
.DS_Store
Thumbs.db

# Ignore environment variables (if you use them)
.env
assets/css/style.css.map
