<footer>
    <div class="footer_div">
        <div class="logo_div">
            <img src="assets/img/logo.png" alt="Rarina Event logo">
            <p>© 2025 Rarina Event.</p>
            <p data-i18n="rights"></p>
        </div>
        <div class="contacts">
            <h1 data-i18n="contacts"></h1>
            <p>rarina.event@gmail.com</p>
            <p>+371 23 303 888</p>
            <p>Latgales iela 264, t/c "Ščecina", Rīga, LV-1063</p>
        </div>
        <div class="socials">
            <h2 data-i18n="follow_us"></h2>
            <div class="socials_links">
                <a href="https://www.facebook.com/people/Rarina-Event/61575780770924/" class="fa fa-facebook" target="_blank"></a>
                <a href="https://www.instagram.com/rarina_event/" class="fa fa-instagram" target="_blank"></a>
            </div>
            
        </div>
    </div>
    
</footer>