<header>
    <div class="header_logo">
        <img class="header_div_logo" src="assets/img/header_logo.png" alt="RarinaEvent logo">
    </div>
  
    <div class="navigation">
        <a href="index.html" data-i18n="about_us"></a>
        <a href="events.html" data-i18n="events"></a>
        <a href="gallery.html" data-i18n="gallery"></a>
    </div>
      
    <div class="languages">
        <a href="index.html" onclick="setLanguage('lv')" id="lv">LAT</a>
        <a href="index.html" onclick="setLanguage('ru')" id="ru">RUS</a>
        <a href="index.html" onclick="setLanguage('en')" id="en">ENG</a>
    </div>
        
    
</header>