<header>
    <div class="header_logo">
        <img class="header_div_logo" src="assets/img/header_logo.png" alt="RarinaEvent logo">
    </div>
  
    <div class="navigation">
        <a href="/" data-i18n="about_us" id="about_us"></a>
        <a href="/events" data-i18n="events" id="events"></a>
        <a href="/gallery" data-i18n="gallery" id="gallery"></a>
        <a href="/prices" data-i18n="prices" id="prices"></a>
        <a href="#" data-i18n="contacts" id="contacts"></a>
    </div>
      
    <div class="languages">
        <a href="/" id="lv">LAT</a>
        <a href="/" id="ru">RUS</a>
        <a href="/" id="en">ENG</a>
    </div>
        
    
</header>