@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Main color palette
$bg-primary: #FA5A76;
$bg-secondary: #def9f5;
$bg-thirdly: #FFF8EC;
$dark-aqua: #a6dfda;


// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

// Reusable media query mixin with common breakpoints
@mixin respond($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: 576px) { @content; }
    } @else if $breakpoint == md {
        @media (max-width: 768px) { @content; }
    } @else if $breakpoint == lg {
        @media (max-width: 992px) { @content; }
    } @else if $breakpoint == xl {
        @media (max-width: 1300px) { @content; }    
    }
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

// Header and sidebar stilization
header {
    z-index: 1;
    background-color: $bg-primary;
    height: 80px;
    @include flex-row();
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    box-shadow: 0 5px 5px rgb(97, 97, 97, 0.5);
    font-weight: 500;

    img {
        height: 50px;
        width: auto;
        margin-left: 60px;
        margin-top: 5px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE10+ */
        user-select: none; 
    }
 
    a {
        text-decoration: none;
        font-size: 16px;
        color:white;
        letter-spacing: 1px;
        transition: 0.4s;

        @include respond(xl) { font-size: 14px; }

        &:hover{
            color: $dark-aqua;
        }

        &:visited, &:active {
            text-decoration: none;
        }
    }
    .navigation {
        display: flex;
        gap: 70px;

        @include respond(xl) { gap: 50px; }
        @include respond(lg){ display: none; } 
    }

    .languages {
        margin-right: 30px;
        display: flex;
        gap: 30px;
        @include respond(lg){ display: none; } 
    }

    .menu {
        display: none;
        @include respond(lg){
            display: inline-block;
            cursor: pointer;
            margin-right: 30px;
        }   
        .bar1, .bar2, .bar3 {
            border-radius: 2px;
            width: 35px;
            height: 5px;
            background-color: #ffffff;
            margin: 6px 0;
            transition: 0.4s;
        }
    }

    .change {
        z-index: 2;
        .bar1 { transform: translate(0, 11px) rotate(-45deg); }
        .bar2 { opacity: 0; }
        .bar3 { transform: translate(0, -11px) rotate(45deg); }
    }

    @include respond(lg){
        .sidebar {
            position: fixed;
            top: 0;
            right: -100%; //hidden before animation
            width: 50%;
            height: 100%;
            background-color: $bg-primary; 
            box-shadow: -5px 0px 10px 1px rgba(0, 0, 0, 0.19);
            padding: 35px;
            @include flex-col();
            align-items: center;
            justify-content: flex-start;
            gap: 50px;
            transition: right 0.3s ease-in-out;
            z-index: 1;

            a {
                font-size: 18px;
            }

            .navigation {
                @include flex-center();
                flex-direction: column;
                gap: 40px;
                width: 100%;
                margin: 100px 0;
            }
            .languages {
                display: flex;
                margin-right: 0;
            }
        }

        .sidebar.active {
            right: 0; 
        }
    }
}

.hero_image {
    @include flex-center();
    flex-direction: row;
    height: 100%;
    background-color: $bg-secondary;
    padding-top: 80px;
    @include respond(xl) {
        height: 600px;  
    } 

    &_block {
        @include flex-col();
        background-color: $bg-secondary;
        flex: 0.7;
        padding: 0px 70px;
        color: #3e3e3e;
        
        h1 {
            font-size: 45px;
            font-weight: 300;
            margin-bottom: 20px; 
            line-height: 1.5;
            @include respond(xl) {
                font-size: 35px;  //-10px
            }  
            @include respond(lg) {
                font-size: 32px;  //-3px
            } 
        }

        p {
            font-size: 20px;
            max-width: 500px;
            margin-bottom: 30px; 
            line-height: 2;
            letter-spacing: 1px;
            @include respond(xl) {
                font-size: 16px;  //-4px
            }
            @include respond(lg) {
                font-size: 15px;  //-1px
            } 
        }

        button {
            background-color: #343434; /* Green */
            border: none;
            color: $bg-secondary;
            padding: 15px 20px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            transition-duration: 0.4s;
            border-radius: 5px;
            width: 230px;
            @include respond(xl) {
                font-size: 14px;  //-2px
                width: 210px;   // -30px
            }
            @include respond(lg) {
                font-size: 13px;  //-1px
                width: 200px;   // -10px
            }

            &:hover {
                cursor: pointer;
                background-color: $bg-primary;
            }
        }
    }

    &_photo{
        display: flex;
        flex: 1;
        justify-content: center;
        height: 100%;

        img {
            display: flex;
            flex: 1;
            max-width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

}

.about_us {
    @include flex-center();
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-image: url("/assets/img/bg_confetti.png");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    color: $bg-primary;
    @include respond(xl) {
        height: 600px;  //100px
    } 

    h1 {
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 40px;
        text-transform: uppercase;
        @include respond(xl) {
            font-size: 32px; //-6px
        } 
        @include respond(lg) {
            font-size: 28px; //-4px
        } 
    }

    .main_text{
        width: 700px;
        @include respond(xl) {
            width: 600px;  //-100px
        } 
        @include respond(lg) {
            width: 450px;  //-150px
        } 

        p {
            font-size: 20px;
            text-indent: 50px;
            text-align: justify;
            letter-spacing: 1px;
            margin-bottom: 10px;
            line-height: 1.5;

            @include respond(xl) {
                font-size: 16px;  //-4px
            }
            @include respond(lg) {
                font-size: 14px;  //-2px
            }

            &:first-child {
                font-weight: 500;
            }
        }
    }   
}

.carousel {
    @include flex-center();
    width: 100%;
    height: 550px;
    flex-direction: column;
    background-color: $bg-secondary;
    @include respond(xl) {
        height: 450px;  //-100px
    }
    @include respond(lg) {
        height: 380px;  //-70px
    }

    &_images{
        width: 100%; 
        @include flex-row();
        justify-content: center;
        gap: 30px;

        @include respond(xl) { gap: 25px; }
        @include respond(lg) { gap: 20px; }
        @include respond(md) { 
            display: grid;
            grid-template-columns: repeat(2, 220px);
        }

        .image_container {
            height: 300px;
            display: flex;
            @include respond(xl) {
                height: 220px; //-80px
            }
            @include respond(lg) { height: 170px; }

            img {
                border-radius: 10px;
                width: 300px;
                object-fit: cover;

                @include respond(xl) { width: 220px; }
                @include respond(lg) { width: 170px; }
            }
        } 
    }

    button {
        margin-top: 50px;
        background-color: $bg-secondary; 
        border: 3px solid $bg-primary;
        color: $bg-primary;
        padding: 15px 25px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        transition-duration: 0.4s;
        border-radius: 5px;
        @include respond(xl) {
            font-size: 16px;
        }
        @include respond(lg) { margin-top: 40px;}
            
        &:hover {
            cursor: pointer;
            background-color: $bg-primary;
            color: $bg-secondary;
        }
    } 
}

.description {
    @include flex-row();
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: $bg-primary;
    height: 630px;
    background-color: $bg-thirdly;
    @include respond(xl) {
        height: 550px; 
    }

    &_image{
        margin-left: 30px;
        img {
            height: 600px;
            width: auto;
            @include respond(xl) {
                height: 500px;  //-100px
            }
            @include respond(lg) {
                height: 400px;  //-100px
            }
        }
    }
    
    &_text {
        @include flex-center();
        line-height: 1.7;
        letter-spacing: 1px;
        font-size: 20px;
        width: 700px;
        padding-right: 30px;
        @include respond(xl) {
            font-size: 16px; //-4px
        }
        @include respond(lg) {
            font-size: 14px; //-2px
        }

        ul {
            list-style-type: circle;

            p {
                font-size: 30px;
                padding-bottom: 20px;
                font-weight: 500;
                margin-left: -23px;
                text-transform: uppercase;
                @include respond(xl) {
                    font-size: 26px; //-4px
                }
                @include respond(lg) {
                    font-size: 22px; //-4px
                }
            }

            li{
                padding-left: 20px;
            }
        }
    }
}

.contact_form {
    height: 700px;
    width: 100%;
    @include flex-center();
    flex-direction: column;
    background-image: url("/assets/img/bg_confetti_2.png");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    @include respond(xl) {
        height: 600px; //-100px
    } 

    h1 {
        font-size: 38px;
        font-weight: 500;
        color: $bg-primary;
        text-transform: uppercase;
        @include respond(xl) {
            font-size: 32px; //-6px
        } 
        @include respond(lg) {
            font-size: 28px; //-4px
        } 
    }
    p {
        color: $bg-primary;
        font-size: 16px;
        padding: 20px 0 40px 0;
        text-align: center;
        @include respond(xl) {
            font-size: 14px;
            width: 50%;
        } 
        @include respond(lg) {
            width: 60%;
        } 
    }

    form {
        width: 700px;
        @include flex-center();
        flex-direction: column;
        @include respond(xl) {
            width: 600px; //-100px
        } 
        @include respond(lg) {
            width: 500px; //-100px
        }

        input, textarea, button {
            background-color: transparent;
            outline: none;
            font-size: 18px;
            border-radius: 5px;
            line-height: 1.5;
            letter-spacing: 1px;
            @include respond(xl) {
                font-size: 16px;  //-2px
            } 
            @include respond(lg) {
                font-size: 14px;  //-2px
            } 
        }

        input, textarea {
            border: 3px solid $dark-aqua;
            padding: 15px;
            color: $dark-aqua;
            @include respond(xl) {
               padding: 10px; //-5px
            } 

            &::placeholder {
                color: $dark-aqua;
                opacity: 0.6;
              }
              
            &::-ms-input-placeholder { /* Edge 12 -18 */
                color: $dark-aqua;
              }
        }

        .form_row {
            @include flex-row();
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
            width: 100%;

            input {
                width: 100%;
            }
            
        }

        .form_col {
            @include flex-col();
            width: 100%;
            gap: 20px;

            textarea {
                height: 100px;
            }
        }

        button {
            border: 3px solid $bg-primary;
            color: $bg-primary;
            font-weight: 500;
            transition-duration: 0.4s;
            padding: 10px;
            @include respond(xl) {
                padding: 8px; //-2px
            }

            &:hover {
                background-color: $bg-primary;
                color: white;
                cursor: pointer;
            }
        }
    }

}

// Pasākumi page
.events {
    width: 100%;
    height: auto;
    @include flex-col();
    padding-top: 80px;
    background-color: $bg-thirdly;

    #events_title {
        margin: 50px 0 20px 70px;
        font-weight: 500;
        font-size: 40px;
        color: $bg-primary;
        @include respond(xl) {
            font-size: 36px;    //-4px
        }
        @include respond(lg) {
            margin: 40px 0 20px 50px;
            font-size: 32px;    //-4px
        }
    }

    &_list {
        @include flex-col();
        justify-content: center;
        padding: 20px 70px;
        @include respond(lg) {
            padding: 20px 50px;
        }
    }

    &_list_event {
        border-radius: 10px;
        @include flex-row();
        justify-content: flex-start;
        margin-bottom: 50px;
        background-color: $bg-secondary;
        color: #343434;
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.19);
        align-items: stretch;
        height: 400px;
        @include respond(lg) {
            height: 300px;
        }

        .event_poster {
            width: 400px; 
            flex-shrink: 0;
            @include respond(xl) {
                width: 350px;
            } 
            @include respond(lg) {
                width: 200px;
            } 

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        .event_desc {
            @include flex-col();
            padding: 30px;
            line-height: 1.7;
            letter-spacing: 1px;
            font-size: 22px;
            @include respond(xl) {
                font-size: 18px;    //-4px
            } 
            @include respond(lg) {
                padding: 20px;
                line-height: 1.5;
                font-size: 16px;    //-2px
            } 

            h1 {
                font-weight: 600;
                font-size: 32px;
                padding-bottom: 10px;
                line-height: 1.3;
                @include respond(xl) {
                    font-size: 28px; //-4px
                } 
                @include respond(lg) {
                    font-size: 22px;    //-6px
                }
            }
            #date_time {
                font-weight: 500;
            }
            #price, #age {
                font-weight: 500;
            }
            #desc {
                padding-top: 30px;
                font-size: 18px;
                @include respond(xl) {
                    font-size: 16px;    //-2px
                }
                @include respond(lg) {
                    padding-top: 10px;
                    font-size: 14px;    //-2px
                } 
            }
        }
    }
}

//Galerija page
.gallery {
    @include flex-center();
    padding-top: 80px;
    flex-direction: column;
    background-color: $bg-thirdly;

    h1 {
        color: $bg-primary;
        font-weight: 500;
        font-size: 40px;
        @include respond(xl) {
            font-size: 36px;  //-4px
        }
        @include respond(lg) {
            font-size: 32px;  //-4px
        }

        &:first-child {
            padding-top: 50px; 
            @include respond(xl) {
                padding-top: 40px;   //-10px
            }
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 40px 20px;
        padding: 50px 0px 80px;
          
        @include respond(xl) {
            grid-template-columns: repeat(4, 1fr);
            padding: 50px 0px;
        }
        @include respond(lg) {
            grid-template-columns: repeat(3, 1fr);
            padding: 40px 0px;
            grid-gap: 40px 30px;
        }
        @include respond(md) {
            grid-gap: 20px;
        }
        
        .image_wrapper {        // div for every image
            display: inline-block;
            position: relative;
            width: 230px;
            height: 230px;

            @include respond(xl) {
                width: 210px;   //-20px
                height: 210px;  //-20px
            }
            @include respond(md) {
                width: 150px;   
                height: 150px;  
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $bg-secondary;
                opacity: 0;
                transition: opacity 0.5s;
                pointer-events: none;
            }
                    
            &:hover::after {
                opacity: 0.8;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                transition: 0.3s;
                box-shadow: 0 2px 8px rgba(0,0,0,0.1);            
            }
        }
    }      
   
    .modal {
        display: none; 
        flex-direction: row;
        justify-content: space-between;
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        background-color: rgba(0,0,0,0.9); 
        align-items: center;
        

        button {
            width: 40px;
            height: 70px;
            margin: 40px;
            border-radius: 5px;
            text-align: center;
            background-color: transparent;
            border: none;
            font-size: 40px;  
            color: white;
            transition: 0.3s;

            &:hover{
                cursor: pointer;
                color: #b1b1b1;
            }
        } 
          
        #modal-img {
            margin: auto;
            display: block;
            width: auto;
            height: auto;
            max-width: 900px;
            max-height: 600px;
            animation-name: zoom;
            animation-duration: 0.6s;
            @include respond(xl) {
                max-width: 780px;  //-120px
            }
            @include respond(lg) {
                max-width: 560px;  
            }
        }

        
        #close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 45px;
            font-weight: bold;
            transition: 0.3s;

            &:hover, &:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        }
           
    }
    
    @keyframes zoom {
        from {transform: scale(0.1)} 
        to {transform: scale(1)}
    }
    
}

footer {
    @include flex-center();
    background-color: $bg-primary;
    width: 100%;
    letter-spacing: 1px;
    p {
        font-size: 18px;
        @include respond(xl) {
            font-size: 16px;  //-2px
        }
        @include respond(lg) {
            font-size: 14px;  //-2px
        } 
        @include respond(md) {
            font-size: 13px;  
        } 
    }
    
    .footer_div {
        width: 100%;
        @include flex-row();
        color: white;
        justify-content: space-between;
        padding: 40px 50px 40px 40px;

        @include respond(md) { 
            padding: 40px;
            
        } 

        h1 {
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 30px;
            @include respond(xl) {
                font-size: 28px; //-6px
            }
            @include respond(xl) {
                font-size: 24px; //-4px
            }

        }
    
        .logo_div {
            @include flex-col();
            text-align: left;
            flex: 1;
            @include respond(md) {
                justify-content: flex-end;  
            } 

            img {
                height:200px;
                width: 200px;
                margin-bottom: 20px;
                @include respond(lg) {
                    height: 150px;
                    width: 150px;
                }
                @include respond(md) {
                    height: 170px;
                    width: 170px;
                    margin-left: -20px;
                    margin-bottom: 30px;
                }
            }

            p {
                margin-left: 30px;
                @include respond(lg) {
                    margin-left: 0px;
                } 
            }
        }

        .contacts {
            @include flex-col();
            text-align: left;
            flex: 1;
            margin-left: 50px;

            p {
                line-height: 2;
            }
        }

        .socials {
            @include flex-col();
            text-align: right;
            align-items: flex-end;
            flex: 1;
            @include respond(md) {
                display: none;
            } 

            &_links {
                @include flex-row();
                gap: 20px;
                @include respond(md) {
                    margin-top: 20px;
                } 
                
                a {
                    text-decoration: none;
                    transition-duration: 0.4s;
                }
                .fa {
                    font-size: 40px; 
                    color: white;
                    @include respond(md) {
                        font-size: 35px; 
                    } 

                    &-facebook:hover{
                        color: #3B5998;
                    }
                    &-instagram:hover{
                        color: #C82D94;
                    }
                }
            }    
        }
    }
}

iframe {
    @include respond(xl) {
        height: 350px; //-100px
    } 
}