// Main color palette
$bg-primary: #FA5A76;
$bg-secondary: #AFDED9;
$bg-thirdly: #FFF8EC;

// Breakpoints for responsive design
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

// Header stilization
header {
    background-color: $bg-primary;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    
    img {
        height: 60px;
        width: auto;
        margin-left: 40px;
    }
 
    a {
        text-decoration: none;
        font-weight: 500;
        color:white;

        &:hover{
            color: $bg-secondary;
        }

        &:visited, &:active {
            text-decoration: none;
        }
    }
    .navigation {
        display: flex;
        gap: 120px;
    }
    .languages {
        margin-right: 30px;
        display: flex;
        gap: 30px;
    }
}
